**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.mypy_report
**/.ipynb_checkpoints
**/node_modules

__pypackages__/
.venv
*.py[cod]
.pdm.toml
*.egg-info/
dist/
build/
.vscode/

docs/_build
docs/source
.*env
firebase-service-account*.json
**/logs/*
